.auth-box {
  position: absolute;
  width: 400px;
  min-width: 400px;
  height: 460px;
  top: 0;
  bottom: 0;
  right: 13%;
  margin: auto;
  background: rgba(244, 247, 255, 0.5);
  border-radius: 4px;
  //box-shadow: 0px 5px 30px 0px rgba(5,8,27,0.1);
  //border: 1px solid;
  //border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8)) 1 1;
  backdrop-filter: blur(10px);

  .auth-header {
    color: $color_title;
    text-align: left;
    padding: 30px 30px 0 30px;
    //border-bottom: 1px solid rgba(235,235,235,0.8);
    span {
      display: inline-block;
      vertical-align: bottom;
      font-size: 24px;
    }
  }

  .auth-form {
    padding: 30px;

    /deep/ {
      .el-input {
        height: 30px;
        line-height: 36px;
      }

      .el-input__prefix {
        left: 14px;
      }

      .el-form-item__label {
        font-size: 12px !important;
        padding: 0 !important;
        margin-left: 0 !important;
        line-height: 26px !important;
        color: #425466;
      }

      .el-input__inner {
        font-size: 12px !important;
        background: #fff;
        border: none !important;
        padding-left: 50px;
      }

      i {
        color: #666 !important;
      }

      .el-icon-lock,
      .el-icon-user,
      .el-icon-key {
        font-size: 18px;
      }

      input[type='input']::placeholder {
        color: #b3b1bc;
      }

      input::-webkit-input-placeholder {
        color: #b3b1bc;
      }

      input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #b3b1bc;
      }

      input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #b3b1bc;
      }

      input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #b3b1bc;
      }
    }

    .auth-form-item {
      position: relative;
    }

    /deep/ .auth-icon {
      position: absolute;
      width: 17px;
      z-index: 10;
      top: 13.5px;
      left: 17px;
    }

    /deep/ .pwd-icon {
      position: absolute;
      width: 17px;
      z-index: 10;
      top: 13.5px;
      right: 17px;
      cursor: pointer;
    }

    .nav-bt {
      width: 100%;
      line-height: 30px;
      margin-top: -10px;
    }

    .auth-bt {
      width: 100%;
      height: 40px;
      line-height: 30px;
      font-size: 14px;
      margin-top: 10px;

      .primary-bt {
        padding: 13px 0;
        height: 40px;
        //background: $color;
        border: none;
        font-size: 14px;
        border-radius: 3px !important;
      }

      .disabled.primary-bt {
        opacity: 0.5;
        cursor: not-allowed;
        border-color: #e9e9eb;
      }

      .operation {
        /*color: #fff;*/
        color: #8d8d8d;
        display: flex;
        margin: 30px 70px;

        span {
          display: block;
          flex: 1;
          text-align: center;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }

    .bottom-text {
      text-align: center;
      font-weight: normal;
      color: #888;
      margin-top: 6px;
      font-size: 12px;
    }
  }

  .auth-pwd-input /deep/ {
    .el-input__inner {
      padding-right: 46px;
    }
  }
}
