.tempSquare-management {
  height: calc(100% - 50px);
  .tempSquare-content-box {
    height: calc(100% - 145px);
  }
  .tempSquare-content {
    padding: 0 20px;
    width: 100%;
    height: 100%;
  }

  .tempSquare-third {
    min-height: 600px;
    .tab-span {
      display: inline-block;
      vertical-align: middle;
      padding: 6px 12px;
      border-radius: 6px;
      color: $color_title;
      cursor: pointer;
    }
    .tab-span.is-active {
      color: $color;
      background: #fff;
      font-weight: bold;
    }
    .tempSquare-main {
      display: flex;
      padding: 0 20px;
      height: 100%;
      .tempSquare-content {
        display: flex;
        width: 100%;
        padding: 0;
        height: 100%;
        .tempSquare-menu {
          margin-top: 10px;
          margin-right: 20px;
          width: 90px;
          height: 450px;
          border: 1px solid $border_color;
          text-align: center;
          border-radius: 6px;
          color: #333;
          p {
            line-height: 28px;
            margin: 10px 0;
          }
          .active {
            background: rgba(253, 231, 231, 1);
          }
        }
        .tempSquare-card-box {
          width: 100%;
          height: 100%;
          .input-with-select {
            width: 300px;
          }
          .card-loading-box {
            .card-box {
              display: flex;
              flex-wrap: wrap;
              margin: 6px -10px 0;
              align-content: flex-start;
              padding-bottom: 20px;
              /*overflow: auto;*/
              .card {
                position: relative;
                padding: 20px 16px;
                border-radius: 12px;
                height: fit-content;
                background: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc((100% / 4) - 20px);
                margin: 0 10px 20px;
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
                border: 1px solid rgba(0, 0, 0, 0);
                &:hover {
                  cursor: pointer;
                  box-shadow:
                    0 2px 8px #171a220d,
                    0 4px 16px #0000000f;
                  border: 1px solid $border_color;

                  .action-icon {
                    display: block;
                  }
                }
                .card-title {
                  display: flex;
                  width: 100%;
                  border-bottom: 1px solid #ddd;
                  padding-bottom: 7px;
                  .svg-icon {
                    width: 50px;
                    height: 50px;
                  }
                  .mcp_detailBox {
                    width: calc(100% - 70px);
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 3px 0;
                    .mcp_name {
                      display: block;
                      font-size: 15px;
                      font-weight: 700;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      color: #5d5d5d;
                    }
                    .mcp_from {
                      label {
                        padding: 3px 7px;
                        font-size: 12px;
                        color: #84868c;
                        background: #f2f5f9;
                        border-radius: 3px;
                        display: block;
                        height: 22px;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                      }
                    }
                  }

                  margin-bottom: 13px;
                }
                .card-des {
                  width: 100%;
                  display: -webkit-box;
                  text-overflow: ellipsis;
                  color: #5d5d5d;
                  font-weight: 400;
                  overflow: hidden;
                  -webkit-line-clamp: 2;
                  line-clamp: 2;
                  -webkit-box-orient: vertical;
                  font-size: 13px;
                  height: 36px;
                  word-wrap: break-word;
                }
                .card-bottom {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin-top: 14px;
                  margin-bottom: -6px;
                  .card-bottom-left {
                    color: #888;
                  }
                  .card-bottom-right {
                    i {
                      margin-left: 5px;
                      cursor: pointer;
                    }
                  }
                }
              }

              .loading-tips {
                height: 20px;
                color: #999;
                text-align: center;
                display: block;
                width: 100%;
                i {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
    .card-logo {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }
  .card-search {
    text-align: right;
    padding: 10px 0;
  }
  .card-search-cust {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .empty {
    width: 200px;
    height: 100px;
    margin: 50px auto;
  }
}
